.cardResultado{
    background: var(--background-degrade);
    color: var(--branco);
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.circuloResultado{
    background: var(--background-degrade-circulo);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloCard{
    color: var(--lilás);
    font-size: 1.5rem;
    font-weight: 600;
}
.numeroGrande{
    font-size: 4rem;
    font-weight: bold;
}
.numeroPequeno{
    font-size: 1.1rem;
    color: var(--cinza-escuro);
    font-weight: bolder;
    
}

.textosBaixo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
}
.subtituloCard{
    font-size: 1.7rem;
    font-weight: 700;
}

.textoCard{
    color: var(--lilás);
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
}

@media (max-width:719px) {
    .cardResultado{
        height: 350px !important;
        gap: 30px;
        padding-top: 25px;
        width: unset !important;
        border-top-left-radius: unset !important;
        border-top-right-radius: unset !important;
    }

    .circuloResultado{
        width: 150px;
        height: 150px;
    }
}